@media screen and (min-width: 480px) {
  .hero {
    width: 100%;
    position: relative;
  }
  .container {
    width: 480px;
    padding-right: 31px;
    padding-left: 31px;
    background: transparent;
  }
  .tab-desk__header {
    display: none;
  }
  .hero__wrapper {
    position: absolute;
    top: 135px;
    left: 31px;
  }
  .hero__parag1,
  h1 {
    margin-bottom: 20px;
  }
  .hero__manifesto {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.02em;
    color: #9da4bd;
    width: 306px;
    display: block;
    text-align: left;
  }

  .hero__parag1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 600;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    // text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    // position: relative;
    color: rgba(157, 164, 189, 0.6);
    margin-left: 31px;
  }
  .hero__parag1::before {
    content: " ";
    width: 1px;
    height: 60px;
    margin-right: 60px;
    background: rgba(157, 164, 189, 0.6);
    transform: rotate(90deg);
  }
  // .dash {
  //   display: block;
  //   width: 1px;
  //   height: 60px;
  //   left: 91px;
  //   top: 215px;
  //   margin-right: 20px;
  //   background: rgba(157, 164, 189, 0.6);
  //   transform: rotate(90deg);
  // }
  h1 {
    font-family: Raleway;
    font-weight: bold;
    font-size: 48px;
    line-height: calc(56 / 48);
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  /* СТИЛИ СЛАЙДЕРА*/
  .slider {
    position: relative;
  }
  .slider .slick-dots {
    position: absolute;
    top: 50%;
    right: 31px;
  }
  .slider .slick-dots li button {
    width: 8px;
    height: 2px;
    background: #9da4bd;
    border: none;
    font-size: 0;
  }
  .slider .slick-dots li.slick-active button {
    width: 18px;
    background: #ffffff;
  }
  .mob-header {
    background: transparent;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
  .slider-btns {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .slider-btns {
    display: flex;
    position: absolute;
    z-index: 5;
    bottom: 40px;
    right: 54px;
  }
  .container {
    width: 768px;
  }
  .slider-btn {
    background: transparent;
    border: none;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;

    color: rgba(157, 164, 189, 0.6);
    &::after {
      content: "";
      display: block;
      width: 57px;
      height: 1px;
      background: #9da4bd99;

      margin-top: 8px;
    }
    &:hover,
    &:focus,
    &:active {
      color: white;
      &::after {
        background: white;
      }
    }
  }
  .arrow-prev {
    text-align: left;
  }
  .arrow-next {
    margin-left: 17px;
    text-align: right;
  }
  .mob-header {
    display: none;
  }
  // .tab-desk__header {
  //   position: absolute;
  //   top: 0;
  //   z-index: 5;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 576px;
  //   margin-left: 200px;
  //   outline: 2px dashed blue;
  // }

  .tab-desk__list {
    display: flex;
  }
  .btn-tel__wrapper {
    //   display: flex;
    //   flex-direction: column;
    // }
    // .sidebar {
    //   width: 85px;
    //   outline: 1px solid red;
    // }
    .slider img {
      width: 576px;
      margin-right: 0;
      margin-left: auto;
    }
    .hero__wrapper {
      top: 252px;
      left: 280px;
    }
  }
}
