.stats {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
}
.stats__text {
  font-family: Open Sans;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;

  margin-bottom: 20px;
  // text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  &::before {
    content: " ";
    width: 1px;
    height: 60px;
    margin-right: 60px;
    background: inherit;
    transform: rotate(90deg);
    background-color: #303030;
  }
}
.stats__header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: #303030;

  margin-bottom: 20px;
}
.stats__plug {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 44px;
  text-align: left;
}
.stats__list {
  margin: -15px;
  height: 373px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  li {
    width: 193px;
    height: 133px;
    background-color: #f7f7f7;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(3) {
      margin-top: 62px;
    }
  }
  .stats__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 36px;
    &:last-child {
      padding: 20px 32px;
    }
  }
  .number {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
    position: relative;
    &::after {
      content: "+";
      display: block;
      width: 13px;
      height: 22px;
      position: absolute;
      top: 8px;
      right: -14px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: calc(22 / 16);
      text-align: center;
      color: #ff6c00;
    }
  }
  .feature {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    color: #303030;
  }
}
